<header class="header-area overlay">
	<nav id="header" class="navbar navbar-expand-md navbar-dark">
		<div class="container">
			<a href="#" class="navbar-brand">Portal</a>

			<button id="collapse-btn" type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse"
				data-bs-target="#main-nav">
				<span class="menu-icon-bar"></span>
				<span class="menu-icon-bar"></span>
				<span class="menu-icon-bar"></span>
			</button>

			<div id="main-nav" class="collapse navbar-collapse">
				<ul class="navbar-nav ml-auto">
					<li><a href="#" class="nav-item nav-link active">Home</a></li>
					<li class="dropdown"  (mouseover)="showMenu=true" (mouseout)="showMenu=false">
						<a href="#" class="nav-item nav-link" data-toggle="dropdown">Services</a>
						<div class="dropdown-menu" [ngClass]="{show:showMenu}">
							<a href="#" class="dropdown-item">Dropdown Item 1</a>
							<a href="#" class="dropdown-item">Dropdown Item 2</a>
							<a href="#" class="dropdown-item">Dropdown Item 3</a>
						</div>
					</li>
					<li><a class="nav-item nav-link" [routerLink]="'/login'">Log In</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>