* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%

    @media only screen and (max-width: $MEDIUM-DEV) {
        font-size: 55%;
    }

    @media only screen and (max-width: $SMALL-DEV) {
        font-size: 50%;
    }
}

body {
    // background: linear-gradient(315deg,$color-base,$color-top 100%);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#app {
    // margin-top: 3rem;
    // padding-top: 3rem;
    background: $blue-lighten-1;
    background: linear-gradient(150deg, rgba($blue-lighten-1, 1) 0%, rgba($blue-lighten-5, 1) 100%);
}

.card {
    padding-right: 1rem;
    padding-left: 1rem;
    @media only screen and (max-width: $EXTRA-SMALL-DEV) {
        padding-right: 0;
        padding-left: 0;
    }
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

.fa,
.btn,
.form-control,
p {
    font-size: 1.5rem;
}

.ng-invalid:not(form) {
    &.ng-touched {
        box-shadow: 0 0 5px red; /* red */
    }
}

.modal {
    z-index: 9;
}

.modal-backdrop {
    z-index: 8;
}

.navbar {
    z-index: 7;
}
