body {
    // background: linear-gradient(315deg,$color-base,$color-top 100%);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#app {
    margin-top: 3rem;
    padding-top: 3rem;
}
