@import 'palette_colors';
// Small devices (landscape phones, 576px and up)
$EXTRA-SMALL-DEV:276px;
// Small devices (landscape phones, 576px and up)
$SMALL-DEV:576px;

// Medium devices (tablets, 768px and up)
$MEDIUM-DEV:768px;

// Large devices (desktops, 992px and up)
$LARGE-DEV:992px;

// Extra large devices (large desktops, 1200px and up)
$EXTRA-LARGE-DEV:1200px;