@import "../../sass/variables";

h1 {
    font-size: 2rem;
    color: $grey-darken-3;
}

h5 {
    font-size: 1.7rem;
    color: $grey-darken-2;
}

.container {
    padding-top: 8rem;
    font-size: 1.3rem;
    min-height: 100vh;
}

.card {
    margin-bottom: 24px;
    box-shadow: 0 0 0.875rem 0 rgba(33, 37, 41, 0.05);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: initial;
    border: 0 solid transparent;
    border-radius: 0.25rem;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card-header:first-child {
    border-radius: 0.25rem 0.25rem 0 0;
}
.card-header {
    border-bottom-width: 1px;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.card-header {
    padding: 1rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 0 solid transparent;
}

th {
    color: $grey-darken-2;
}
td {
    cursor: pointer;
}

tbody {
    tr {
        &:hover {
            background-color: $grey-lighten-2;
        }
    }
}

.nav-header {
    @media only screen and (max-width: $EXTRA-SMALL-DEV) {
        flex-direction: column;
    }
}

.nav-home {
    font-size: 2rem;
    margin-right: auto;
    color: $grey-darken-4;

    .fa {
        font-size: 2rem;
    }
}

.search {
    margin-right: 0.5rem;
}

.breadcrumb {
    li {
        font-size: 1.6rem;
        font-weight: 700;
        color: $grey-darken-2;
    }
}

.dropdown-menu {
    font-size: 1.2rem;
}

.fa-trash{   
    &:hover{
        transform: scale(1.1);
    }
}

.fa-edit{
    color: $grey-darken-2;
    &:hover{
        transform: scale(1.1);
    }
}